.nav-link {
    font-size: 3rem;
    color: black;
    width: 100%;

}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: black;
    color: white;
}
.bg-dark {
    background-color: #000!important;
}


